
/* ========== Buttons ========== */

/* Front */

.certificat-face--front {
  z-index: 300;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.certificat.flip .certificat-face--front {
  z-index: 200;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/* ========== Certificat Front ========== */

.certificat .certificat-face--front {
  background-color: #ffffff;  
  background-image: url("http://localhost:5555/pub/remoteCertificateTest/img/background-certificat-front.png");

  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: initial;
  text-align: center;
  color: #23333d;
  border-radius: 10px;
}
@media (max-width:640px){
  .certificat .certificat-face--front {
    border-radius:0;
  }
}
.certificat-wrapper--front {
  padding-bottom: 60px;
}

/**
 * Certificat Title
 */

.certificat .certificat-front-title {
  margin: 20px 0 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 43px;
  font-weight: normal;
  font-style: italic;
  line-height: 36px;
  color: #2a789e;
}

/**
 * Certificat Name
 */

.certificat .certificat-front-name {
  margin: 24px 0;
  font-size: 28px;
  font-weight: normal;
  line-height: 34px;
}

/**
 * Certificat Personal infos
 */

.certificat .certificat-front-personal-infos {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 14px;
}

.certificat .certificat-front-personal-infos p {
  margin-bottom: 0;
}

.certificat .certificat-front-personal-infos-date,
.certificat .certificat-front-personal-infos-localisation {
  padding: 4px 8px;
}

.certificat .certificat-front-personal-infos span + span {
  padding-left: 14px;
}

/**
 * Certificat Content
 */

.certificat .certificat-front-content {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 100;
  line-height: 14px;
}

.certificat .certificat-front-content p {
  margin-bottom: 10px;
}

.certificat .certificat-front-content .certificat-front-degree {
  margin: 20px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

/**
 * Certificat Signature
 */

.certificat .certificat-front-signature {
  margin-bottom: 40px;
  color: #72b5b2;
}

.certificat .certificat-front-signature-item {
  margin-bottom: 20px;
}

.certificat .certificat-front-signature-image {
  margin-bottom: 10px;
}

.certificat .certificat-front-signature-details > span {
  display: block;
}

.certificat .certificat-front-signature-details {
  margin-bottom: 0;
}

/**
 * Certificat date
 */

.certificat .certificat-front-date-value {
  margin-bottom: 0;
  margin-right: 5em;
}

/**
 * Certificat button Download
 */

.certificat-button-round--front-download {
  position: absolute;
  z-index: 2;
  bottom: 7px;
  left: 7px;
}

/* ========== Certificat boutons Sticky ========== */
.certificat-sticky-buttons {
  position: fixed;
  z-index: 300;
  right: 7px;
  bottom: 7px;
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0); /* Fix pour iOS Safari */
}

/* Boutons wrapper */
.certificat-sticky-buttons-wrapper {
  width: 60px;
}

/* Boutons */
.certificat-sticky-buttons-wrapper .certificat-button-round {
  margin-bottom: 14px;
}

/* Boutons Sticky */
.certificat-button-sticky .close {
  display: none;
}

/*
 * When sticky is open
 */

/* Boutons Sticky */
.certificat-sticky-buttons.is-open .certificat-button-sticky {
  background-color: #4f5c64;
  color: #ffffff;
}

.certificat-sticky-buttons.is-open .certificat-button-sticky:hover {
  background-color: #a7adb1;
}

.certificat-sticky-buttons.is-open .certificat-button-sticky:focus {
  background-color: #4f5c64;
}

.certificat-sticky-buttons.is-open .certificat-button-sticky .open {
  display: none;
}

.certificat-sticky-buttons.is-open .certificat-button-sticky .close {
  display: inline;
}

/* Animation */
.certificat-sticky-buttons .certificat-sticky-buttons-wrapper .certificat-button-round {
  -webkit-transition: background-color .4s ease, color .4s ease, -webkit-transform .4s cubic-bezier(.6, -.28, .735, .045), -webkit-box-shadow .4s ease;
          transition: background-color .4s ease, color .4s ease, -webkit-transform .4s cubic-bezier(.6, -.28, .735, .045), -webkit-box-shadow .4s ease;
          transition: transform .4s cubic-bezier(.6, -.28, .735, .045), background-color .4s ease, color .4s ease, box-shadow .4s ease;
          transition: transform .4s cubic-bezier(.6, -.28, .735, .045), background-color .4s ease, color .4s ease, box-shadow .4s ease, -webkit-transform .4s cubic-bezier(.6, -.28, .735, .045), -webkit-box-shadow .4s ease;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.certificat-sticky-buttons .certificat-sticky-buttons-wrapper .certificat-button-round:nth-child(1) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.certificat-sticky-buttons .certificat-sticky-buttons-wrapper .certificat-button-round:nth-child(2) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.certificat-sticky-buttons.is-open .certificat-sticky-buttons-wrapper .certificat-button-round {
  -webkit-transition: background-color .4s ease, color .4s ease, -webkit-transform .4s cubic-bezier(.175, .885, .32, 1.275), -webkit-box-shadow .4s ease;
          transition: background-color .4s ease, color .4s ease, -webkit-transform .4s cubic-bezier(.175, .885, .32, 1.275), -webkit-box-shadow .4s ease;
          transition: transform .4s cubic-bezier(.175, .885, .32, 1.275), background-color .4s ease, color .4s ease, box-shadow .4s ease;
          transition: transform .4s cubic-bezier(.175, .885, .32, 1.275), background-color .4s ease, color .4s ease, box-shadow .4s ease, -webkit-transform .4s cubic-bezier(.175, .885, .32, 1.275), -webkit-box-shadow .4s ease;
  -webkit-transform: scale(1);
          transform: scale(1);;
}

.certificat-sticky-buttons.is-open .certificat-sticky-buttons-wrapper .certificat-button-round:nth-child(1) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.certificat-sticky-buttons.is-open .certificat-sticky-buttons-wrapper .certificat-button-round:nth-child(2) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.certificat-face--front .certificat-button-wrapper,
.certificat-face--front .certificat-button-round--front-download {
  display: none;
}

/* ========== Mediaqueries ========== */

/**
 *
 * > 640px
 *
 */

@media screen and (min-width: 640px) {
  /* ========== Certificat front ========== */
  /**
   * Certificat wrapper
   */
  .certificat-wrapper--front {
    padding-bottom: 28px;
  }
  /**
  * Certificat Personal infos
  */
  .certificat .certificat-front-personal-infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .certificat .certificat-front-personal-infos-localisation {
    margin-left: 14px;
    padding-left: 22px;
    border-left: 1px solid #72b5b2;
  }
  /**
  * Certificat Signature
  */
  .certificat .certificat-front-signature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    max-width: 760px;
    margin-bottom: 0;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  /**
   * Certificat default button
   */
  .certificat-face--front .certificat-button-wrapper {
    margin: -20px 0 10px;
  }
}

@media screen and (min-width: 991px) and (min-height: 719px) {
  .certificat-face .simplebar-content {
    height: 100%;
  }
  /**
   * Certificat Name
   */
  .certificat .certificat-front-name {
    margin: 20px 0;
  }

  /**
   * Certificat personal infos
   */
  .certificat .certificat-front-personal-infos {
    margin-bottom: 10px;
  }
  /**
  * Certificat Content
  */
  .certificat .certificat-front-content {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 20px;
  }

  .certificat .certificat-front-content .certificat-front-degree {
    margin: 14px 0;
  }

  /**
   * Certificat default button
   */
  .certificat-face--front .certificat-button-wrapper {
    margin: -30px 0 0;
  }
.certificat-button-wrapper {
    margin: -30px 0 0;
  }

  .certificat-button--front {
    margin-bottom: 30px;
  }
  /**
   * Certificat date
   */
  .certificat .certificat-front-date {
    position: absolute;
    right: 28px;
    bottom: 20px;
    margin-bottom: 0;
  }

  .certificat-face--front .certificat-button-wrapper,
  .certificat-face--front .certificat-button-round--front-download {
    display: block;
  }

  /**
   * Certificat Buttons
   */
  .certificat-face--front .certificat-button-wrapper,
  .certificat-face--front .certificat-button-round--front-download {
    display: block;
  }

  .certificat-sticky-buttons {
    display: none;
  }
}

@media screen and (min-width: 1170px) and (min-height: 831px) {
  /**
   * Certificat Logo
   */
  .certificat-logo {
    max-width: 240px;
    width:240px;
  }
  /**
  * Certificat Title
  */
  .certificat .certificat-front-title {
    font-size: 54px;
    line-height: 62px;
  }

  /**
  * Certificat Name
  */
  .certificat .certificat-front-name {
    margin: 20px 0 29px;
    font-size: 29px;
    line-height: 35px;
  }

  /**
   * Certificat Personal infos
   */
  .certificat .certificat-front-personal-infos {
    font-size: 14px;
    line-height: 17px;
  }
  /**
   * Certificat Content
   */
  .certificat .certificat-front-content {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  .certificat .certificat-front-content p {
    margin-bottom: 14px;
  }

  /**
   * Certificat button front
   */
  .certificat-button--front {
    margin-bottom: 40px;
  }
}

/*-- Animation background--*/
.area{ 
  width: 100%;
  height:95vh;
  position: absolute;
  top:-0;
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(33, 141, 178, 0.3);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 1s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 10s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 16s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 8s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 90%;
  }

}


#stars {
  display: block;
  position: relative;
  width: 100%;
  height: 16rem;
  height: 100vh;
  z-index: 1;
}
/*buttons*/
body {
  background: #f9f8f7;
}

.wrap {
  padding: 2.5em;
  text-align: center;
}

.button {
  animation-iteration-count: infinite;
}

.button3 {
  animation-duration: 1.2s;
  animation-name: shrink;
}

@keyframes shrink {
  0% {
    transform: scaleY(1);
  }
  49% {
    transform: scale(0.95, 0.95);
  }
  100% {
    transform: scaleY(1);
  }
}
