/**
 * Certificat Blockchain INTERNET EXPLORER
 * =====================
 *
 * Début des styles CSS
 *
 */

 _:-ms-input-placeholder,
 :root .certificat-sticky-buttons {
   right: 30px;
   bottom: 30px;
 }
 
 /* ========== Mediaqueries ========== */
 
 /**
  *
  * > 640px
  *
  */
 
 @media screen and (min-width: 640px) {
   _:-ms-input-placeholder,
   :root .certificat .certificat-front-personal-infos {
	 display: block;
	 text-align: center;
   }
 
   _:-ms-input-placeholder,
   :root .certificat .certificat-front-personal-infos-date,
   _:-ms-input-placeholder,
   :root .certificat .certificat-front-personal-infos-localisation {
	 display: inline-block;
   }
   /**
   * Certificat Signature
   */
   _:-ms-input-placeholder,
   :root .certificat .certificat-front-signature {
	 display: block;
	 margin-right: auto;
	 margin-left: auto;
   }
 
   _:-ms-input-placeholder,
   :root .certificat .certificat-front-signature::after {
	 display: table;
	 clear: both;
	 content: "";
   }
 
   _:-ms-input-placeholder,
   :root .certificat .certificat-front-signature .certificat-front-signature-item:nth-child(1) {
	 float: left;
   }
 
   _:-ms-input-placeholder,
   :root .certificat .certificat-front-signature .certificat-front-signature-item:nth-child(2) {
	 float: right;
   }
 }
 

 