<template>
	 <div  v-if="certificat" class="certificat-face certificat-face--front" data-simplebar>
		<div class="certificat-wrapper certificat-wrapper--front">
			<div class="area" >
   			</div >
			<div class="certificat-logo certificat-logo--front">
				<img :src="require('./img/leaston-universite.svg')" :alt="certificat.issuerName">
			</div>
			<div class="issuer-mention">Etablissement membre de l'
				<img :src="require('./img/logo-AUF.svg')" :alt="certificat.issuerName"></div>
			<h1 class="certificat-front-title">
				<span id="getCertifiedData-A">{{ certificat.certified.A }}</span>
			</h1>
			<h2 class="certificat-front-name">
				<span id="getCertifiedData-B">{{ certificat.certified.B }}</span>
			</h2>
			<div class="certificat-front-personal-infos">
				<div class="certificat-front-personal-infos-date">
					<p>
						<span id="getCertifiedData-C">{{ certificat.certified.C }}</span>
						<span id="getCertifiedData-D">{{ certificat.certified.D }}</span>
					</p>
				</div>
				<div class="certificat-front-personal-infos-localisation">
					<p>
						<span id="getCertifiedData-E">{{ certificat.certified.E }}</span>
						<span id="getCertifiedData-F">{{ certificat.certified.F }}</span>
					</p>
				</div>
			</div>
			<div class="certificat-front-content">
				<p>
					<span id="getCertifiedData-G">{{ certificat.certified.G }}</span>
				</p>
				<p>
					<span id="getCertifiedData-H">{{ certificat.certified.H }}</span>
				</p>
				<p class="certificat-front-degree">
					<span id="getCertifiedData-I">{{ certificat.certified.I }}</span>
					<span id="getCertifiedData-J">{{ certificat.certified.J }}</span>
					<span id="getCertifiedData-K">{{ certificat.certified.K }}</span>
				</p>
				<p>
					<span id="getCertifiedData-L">{{ certificat.certified.L }}</span>
					<span id="getCertifiedData-M">{{ certificat.certified.M }}</span>
				</p>
			</div>
			<div class="certificat-front-signature">
				<div class="certificat-front-signature-item">
					<div class="certificat-front-signature-image">
						<span id="getCertifiedData-N">
							<img :src="require('./img/jim-harter.svg')" :alt="certificat.certified.N">
						</span>
					</div>
					<p class="certificat-front-signature-details">
						<span id="getCertifiedData-O">{{ certificat.certified.O }}</span>
						<span id="getCertifiedData-P">{{ certificat.certified.P }}</span>
					</p>
				</div>
				<div class="certificat-front-signature-item">
					<div class="certificat-front-signature-image">
						<span id="getCertifiedData-Q">
							<img :src="require('./img/felicia-barden.svg')" :alt="certificat.certified.Q">
						</span>
					</div>
					<p class="certificat-front-signature-details">
						<span id="getCertifiedData-R">{{ certificat.certified.R }}</span>
						<span id="getCertifiedData-S">{{ certificat.certified.S }}</span>
					</p>
				</div>
			</div>

			<div class="certificat-front-date">
				<p class="certificat-front-date-value">
					<span id="getCertifiedData-T">{{ certificat.certified.T }}</span>
				</p>
			</div>
			
		</div>
	</div>
</template>

<script>

export default {
	name:"leaston-executive_MBA",
	props: ['certificat', 'componentBase'],
	mounted() {
		// console.log(this.certificat)
	}
}
</script>

<style scoped src="./css/certificat.css"></style>
<style scoped src="./css/certificat-ie.css"></style>

<head>
[
    {
        "tag": "meta",
        "attrs": {
			"hid"="twitter"
			"name": "image",
			"property": "og:image",
			"content": "http://localhost:5555/pub/images/thumbnail.83ea4fd.png"
		}
    }
]
</head>
